body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 20px;
    background-color: rgb(10, 0, 57);
}
form {
    width: 500vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto ;
    padding: 2em;
    background-color: rgb(8, 8, 84);
    border-radius: 5px;
    color: aliceblue;

}

h1, p {
    margin: 1em auto;
    text-align: center;
    color: white;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(198, 198, 235);
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
    background-color: aliceblue;
    border: solid aliceblue;
    color: #ffffff;
  }

label {
    display: block;
    margin: 0.5rem 0;
  }  

  .brackets {
    display: inline-block;
    font-size: 12px;
  }

fieldset:last-of-type {
    border-bottom: none;
  }

textarea {
    resize: none;
    color: black;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;

    
}

input{
    color: black;
}
